---
import "css-to-go";
interface Props {
    title: string;
    editDate: Date;
}

const { title, editDate } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body class="ctg-root ctg-container ctg-theme--light">
        <header>
            <h1>Reproduction</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
            </nav>
        </header>
        <main>
            <slot />
            <footer>
                <time datetime={editDate.toISOString()}>
                    Latest edit: {editDate.toISOString().replace(/T.+$/, "")}
                </time>
            </footer>
        </main>
    </body>
</html>

<style>
    footer {
        border-top: 1px solid #222;
        margin-top: 2rem;
        padding-top: 2rem;
        text-align: center;
    }
</style>
